<div class="row info-box body">
  <div class="col s12 l5 center-align">
    <img class="logo-image" src="../../assets/img/logo-png.png">
  </div>
  <div class="col s12 l7">
    <div class="row subtitle-slogan">
      <div class="col s12 l10">
      <i>Hacia un progreso coherente y respetuoso con el medio ambiente y los derechos humanos</i>
      </div>
    </div>
    <div class="desc-slogan">
      <div class="row linea center-align">
        <div class="col s12 l8"><i>PORQUE SOMOS</i></div>
      </div>

      <div class="row linea center-align">
        <div class="col s12 l5 offset-l5"><i>NATURALEZA</i></div>
      </div>
    </div>
    <div class="row center-align">
      <div class="col s12 l5  offset-l6 button-box" >
        <button class="sinnergia-button" (click)="openSubscription()">SOY SINNERGIA</button>
      </div>
    </div>
    <div class="row icons-coll">
      <div class="col s2 l1">
        <a href="https://www.facebook.com/" target="_blank"> <img class="rs-icons" src="../../assets/img/facebook.svg"/></a>
      </div>
      <div class="col s2 l1">
        <a href="https://www.instagram.com/" target="_blank"> <img class="rs-icons" src="../../assets/img/instagram.svg"/></a>
      </div>
    </div>
  </div>
</div>

<app-description-sinnergia></app-description-sinnergia>
