<div class="row info-box">
  <div class="col s12 m5 l5 center-align">
    <img class="logo-image" src="../../assets/img/logo-png.png">
  </div>
  <div class="col s12 m7 l7">
    <div class="row subtitle-slogan"><i>Hacia un progreso coherente y respetuoso con el medio ambiente y los derechos humanos</i></div>
    <div class="desc-slogan">
      <div class="row linea">
        <div class=""><i>PORQUE SOMOS</i></div>
      </div>

      <div class="row linea">
        <div class="col offset-m5 offset-l5"><i>NATURALEZA</i></div>
      </div>
    </div>
    <div class="row">
      <div class="col s5 offset-m6 offset-l6">
        <button class="sinnergia-button">SOY SINNERGIA</button>
      </div>
    </div>
    <div class="row icons-coll">
      <div class="col s1">
        <img class="rs-icons" src="../../assets/img/facebook.svg"/>
      </div>
      <div class="col s1">
        <img class="rs-icons" src="../../assets/img/instagram.svg"/>
      </div>
    </div>
  </div>
</div>


