
    <router-outlet></router-outlet>



  <app-subscription-form class="form-component" hidden></app-subscription-form>
      <footer class="page-footer footer-sinnergia">
        <div class="footer-copyright footer-copyright-sinnergia">
          <div class="container">
            © 2014 Copyright Text
            <a class="black-text text-lighten-4 right"  href="https://www.freepik.es/fotos/papel-pintado">Foto de Papel pintado creado por rawpixel.com - www.freepik.es</a>
          </div>
        </div>
    </footer>
