<div class="row">
  <div class="info-container center-align">

      <h2 class="info-title title">SINNERGIA</h2>

    <ul class="collection left-align fa-ul">
      <li class="row">
        <div class="col s1">
          <img src="../../assets/img/square.png" alt="square" class="icon"/>
        </div>
        <div class="col s11">
          First Line
        </div>
      </li>
      <li class="row">
        <div class="col s1">
          <img src="../../assets/img/squareComplete.png" alt="square" class="icon"/>
        </div>
        <div class="col s11">
          First Line
        </div>
      </li>
      <li>ojo</li>
      <li>ojo</li>
    </ul>


  </div>

</div>
