
  <form class="center-align">
    <div class="row valign-wrapper">
      <div class="col s3 offset-s3 input-field">
        <input type="email" class="subFormInput">
        <label class="label-color-white">Email</label>
      </div>
      <div class="col s3 input-field">
        <input type="text" class="subFormInput">
        <label class="label-color-white">Interés</label>
      </div>
      <div class="col s3 input-field was">
        <label class="label-color-white">
        <select name="hola">
          <option value="">Seleccionar interés</option>
          <option value="1">Comprar</option>
          <option value="2">Vender</option>
          <option value="3">publicitar</option>
        </select>
        Interés</label>
      </div>



      <div class="col s1">
        <button class="waves-effect waves-light btn">Subscribe</button>
      </div>
    </div>
  </form>


