<div class="">
<div class="row container-description">
  <div class="col s6 row content">
    <div class="col s6 market-place content">
      <div class="">
        <h5 class="">Mercado</h5>
        <h5>eco/vio/org</h5>
      </div>
      <div class="subtitle container-box">
        <p>Eficiencia y Coherencia</p>
        <p>Derechos humanos</p>
        <p>Trazabilidad</p>
      </div>
      <div class="divider-sinnergia">

      </div>
      <div class="description container-box">
        Encuentra en un único espacio una gran diversidad de productos medioambientalmente sostenibles, respetuosos con los derechos humanos, coherentes con tus principios y con información de su origen y manufactura.
      </div>
    </div>
    <div class="col s6 course content">
      <div class="">
        <h5>Talleres</h5>
        <h5>online</h5>
      </div>
      <div class="subtitle container-box">
        <p>Sostenibilidad medioambiental</p>

        <p>Consumo responsable</p>

        <p>Hazlo tú mismo</p>
      </div>
      <div class="divider-sinnergia">

      </div>
      <div class="description container-box">
        Participa en el cambio formándote en nuestros talleres on-line.

        Tu consciencia y actos medioambientalmente responsables son fundamentales en la sinergia que necesitamos

        generar.
      </div>
    </div>
  </div>
  <div class="col s6 row content">
    <div class="col s6 services content">
      <div class="title">
        <h5>Servicios para</h5>
        <h5>PYMES ECO</h5>
      </div>
      <div class="subtitle container-box">
        <p>Ventajas para PYMES ECO</p>
        <p>nacionales (packaging, logística,</p>
        <p>merchandising ecológicos,...)</p>
      </div>
      <div class="divider-sinnergia">

      </div>
      <div class="description container-box">
        Accede, como PYME ECO participante en Sinnergia, a servicios de packaging, logística, merchandaising, ecodiseño,... con ventajas económicas y potencia la eficiencia y coherencia medioambiental de tu producto. 
      </div>
    </div>
    <div class="col s6 crowdfounding content">
      <div class="title">
        <h5>Responsabilidad</h5>
        <h5>social y Crowdfunding</h5>
      </div>
      <div class="subtitle container-box">
        <p>Inversión en proyectos de</p>

        <p>sostenibilidad medioambiental</p>

        <p>y sociales</p>
      </div>
      <div class="divider-sinnergia">

      </div>
      <div class="description container-box">
        Nos comprometemos a reinvertir parte de los beneficios en proyectos sociales coherentes con los valores de Sinnergia y a mantenerte informado de su desarrollo.

        Crearemos crowdfundings para proyectos en el mismo ámbito.
      </div>
    </div>
  </div>
</div>
</div>










