@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.market-place{
  background-color: #77f28f;
}

.course{
  background-color: #f5ef87;
}

.services{
  background-color: #fac39d;
}

.crowdfounding{
  background-color:#fad2de;
}

.content{
  min-height: 85vh;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-top: 20px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.container-description{
  margin: 30px;
  font-family: 'Bree Serif', serif;
  color: #606060;
  text-align: center;
}

.divider-sinnergia{
  height: 1px;
  background-color: #606060;
  margin: 20px;
}

.container-box {
  padding: 20px;
}

.description-icons{
  font-size: 2em;
}
