<div class="container">

  <div class="row">
    <div class="center-align description">
      <div class="desc-title ">SINNERGIA</div>
      <div class="desc-slogan">PORQUE SOMOS NATURALEZA</div>
      <div class="object-description">
        <ul class="collection left-align fa-ul info">
          <li class="row">
            <div class="col s1">
              <img src="../../assets/img/square.png" alt="square" class="icon"/>
            </div>
            <div class="col s11">
              Venta de productos ecológicos.
            </div>
          </li>
          <li class="row">
            <div class="col s1">
              <img src="../../assets/img/squareComplete.png" alt="square" class="icon"/>
            </div>
            <div class="col s11">
              Respeto de los Derechos Humanos.
            </div>
          </li>
          <li class="row">
            <div class="col s1">
              <img src="../../assets/img/squareComplete.png" alt="square" class="icon"/>
            </div>
            <div class="col s11">
              Crear conciencia medioambiental.
            </div>
          </li>
          <li class="row">
            <div class="col s1">
              <img src="../../assets/img/squareComplete.png" alt="square" class="icon"/>
            </div>
            <div class="col s11">
              Promoción de PYMES eco.
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <app-subscription-form></app-subscription-form>
</div>
