<div class="row info-box">
  <div class="col s7 offset-s5">
    <i class="desc-slogan">¿Cuales son nuestros objetivos?</i>
    <div class="row description-box">
      <div class="info-container center-align">
        <ul class="collection left-align fa-ul info">
          <li class="row">
            <div class="col s1">
              <img src="../../assets/img/square.png" alt="square" class="icon"/>
            </div>
            <div class="col s11">
              Venta de productos ecológicos.
            </div>
          </li>
          <li class="row">
            <div class="col s1">
              <img src="../../assets/img/squareComplete.png" alt="square" class="icon"/>
            </div>
            <div class="col s11">
              Respeto de los derechos humanos.
            </div>
          </li>
          <li class="row">
            <div class="col s1">
              <img src="../../assets/img/squareComplete.png" alt="square" class="icon"/>
            </div>
            <div class="col s11">
              Crear conciencia medioambiental.
            </div>
          </li>
          <li class="row">
            <div class="col s1">
              <img src="../../assets/img/squareComplete.png" alt="square" class="icon"/>
            </div>
            <div class="col s11">
              Promoción de PYMES eco.
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row icons-coll">
      <div class="col s1 offset-s3">
        <img class="rs-icons" src="../../assets/img/facebook.svg"/>
      </div>
      <div class="col s1">
        <img class="rs-icons" src="../../assets/img/instagram.svg"/>
      </div>
    </div>
  </div>
</div>











