.subFormInput{
  background-color: #ffffff50 !important;
  border: #1a191952 1px solid !important;
  border-radius: 5px !important;
  color: black !important;
}

.label-color{
  color: black;
  margin-left: 10px;
}

.was{
  height: 20px;
}

.subFormSelect{
  display: inline-block !important;
}

.sinnergia-button {
  text-transform: none !important;
  background-color: #ffc824 !important;
  border-radius: 40px;
  color: black;
  font-weight: bold;
}

.form-bottom-margin{
  margin-bottom: 0px !important;
}
