
  <form class="center-align">
    <div class="row">
      <div class="col s3 offset-s3 input-field">
        <input type="email" class="subFormInput">
        <label class="label-color">Email</label>
      </div>
      <div class="col s3 input-field">
        <select class="subFormSelect subFormInput">
          <option value="">Seleccionar interés</option>
          <option value="1">Comprar</option>
          <option value="2">Vender</option>
          <option value="3">publicitar</option>
        </select>
      </div>
      <div class="col s1 input-field">
        <button class="btn sinnergia-button">Subscribe</button>
      </div>
    </div>
  </form>


