<h1>Soy Sinnergia</h1>
<form class="container-form">
  <label> Email
    <input type="text" [(ngModel)] = "user.email" name="email">
  </label>
  <label> Role
    <select class="subFormSelect subFormInput" [(ngModel)]="user.role" name="role">
      <option value="">Seleccionar interés</option>
      <option value="1">Consumidor</option>
      <option value="2">Empresa</option>
      <option value="3">Otro</option>
    </select>
  </label>
  <button class="btn registerFormButton" (click)="this.register()">register</button>
</form>


